<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/adminlogin.css">
    <script src="/jquery-3.6.0.min.js"></script>
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body>
	<!-- ********** 광진 ********** -->
	<!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">        
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/adminsessionkeep" class="active">Home</a></li>
          </ul>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->
    <section class="login-form">
        <h1>관리자 로그인</h1>
        <form action="adminloginok" method="post">
            <!-- 사용자 로그인 ID 입력란-->
            <div class="int-area">
                <input type="text" name="admin_id" id="id" autocomplete="off" required>
                <label for="id">관리자 아이디</label>
            </div>
            <!-- 사용자 비밀번호 ID 입력란-->
            <div class="int-area">
                <input type="password" name="admin_pwd" id="pwd" autocomplete="off" required>
                <label for="id">관리자 비밀번호</label>
            </div>
            <!-- 로그인 버튼 -->
            <div class="btn-area">  
                <button type="submit" id="btn">LOGIN</button>
            </div>
        </form>
    </section>
    <script src="/js/adminlogin.js"></script>
</body>
</html>