<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script>
		window.onload = function () {
			document.querySelector("#btnApprove").onclick = function () {
				// alert("B");
				if (confirm("승인 하시겠습니까?")) {
					frm.action = "apprProcess";
					frm.method = "post"
					frm.submit();
				}
			}
			
			document.querySelector("#btnDeny").onclick = function () {
				// alert("B");
				if (confirm("거절 하시겠습니까?")) {
					frm.action = "denyProcess";
					frm.method = "post"
					frm.submit();
				}
			}

			document.querySelector("#btnList").onclick = function () {
				//alert("a");
				location.href = "/registered";
			}
			// 목록으로 돌아가는 기능과 삭제하는 기능만 구현... (ex.창고주소지가 바껴 수정해야 하는 경우는 창고를 삭제하고 다시 등록하기)
			document.querySelector("#btnDelete").onclick = function () {
				//alert("c");
				if (confirm("정말 삭제할까요?")) {
					frm.action = "delete";
					frm.method = "get";
					frm.submit();
				}
			}
		}
	</script>
	<style>
		.container-box {
			border: 1px solid #ccc;
			/* 박스 테두리 스타일 */
			padding: 10px;
			/* 박스 안의 여백 */
			margin: 10px;
			/* 박스 간의 간격 */
		}

		/* 원하는 스타일을 추가로 설정할 수 있습니다. */
	</style>

</head>

<body>
	<h3>** 상세보기 **</h3>
	<form name="frm" th:object="${containerDto}">
		<!-- 'con_no' Hidden Input 필드 추가 -->
		<input type="hidden" th:field="*{cont_no}" />
		<br />
		<div class="container-box">
			<div>
			창고번호 : [[${containerDto.cont_no}]]<br /></div>
			주소 : [[${containerDto.cont_addr}]]<br />
			위도 : [[${containerDto.cont_we}]]<br />
			경도 : [[${containerDto.cont_kyung}]]<br />
			면적 : [[${containerDto.cont_size}]]<br />
			회사이름 : [[${containerDto.cont_name}]]<br />
			소유주 전화번호 : [[${containerDto.owner_phone}]]<br />
			창고 사진 : [[${containerDto.cont_image}]]<br />
			사업자번호 : [[${containerDto.owner_num}]]<br />
		</div>
		<hr />
		<div>
			현재 상태 : [[${containerDto.cont_status}]]<br />

		</div>
		<br />
		<input type="button" value="목록" id="btnList" />
		<input type="button" value="삭제" id="btnDelete" />
		<input type="button" value="승인" id="btnApprove" />
		<input type="button" value="거절" id="btnDeny" />
	</form>
</body>

</html>