<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/member.css" />
</head>
<body>
<h2>등록된 창고 관리하기</h2>

<table style="width:90%">

	<tr>
		<th>창고번호</th>
		<th>주소</th>
		<th>위도</th>
		<th>경도</th>
		<th>면적</th>
		<th>회사이름</th>
		<th>소유주 전화번호</th>
		<th>현재 상태(사용중,사용가능)</th>
		<th>사업자번호</th>
	</tr>
	<th:block th:if="${lists3.size > 0}">
			<tr th:each="data3:${lists3}">
				<td th:text="${data3.cont_no}"></td>
				<td th:text="${data3.cont_addr}"></td>
				<td th:text="${data3.cont_we}"></td>
				<td th:text="${data3.cont_kyung}"></td>
				<td th:text="${data3.cont_size}"></td>
				<td th:text="${data3.cont_name}"></td>
				<td th:text="${data3.owner_phone}"></td>
				<td th:switch="${data3.cont_status}" >
					<a th:case='0' th:href="@{detail(cont_no=${data3.cont_no})}">승인대기</a>
					<a th:case='1' th:href="@{detail(cont_no=${data3.cont_no})}">사용가능</a>
					<a th:case='2' th:href="@{detail(cont_no=${data3.cont_no})}">예약중</a>
					<a th:case='3' th:href="@{detail(cont_no=${data3.cont_no})}">사용중</a>
					<a th:case='4' th:href="@{detail(cont_no=${data3.cont_no})}">승인거절</a>
				</td>
				
				<!-- <td> <a th:href="@{approve/detail(cont_no=${data3.cont_no})}" th:text="${data3.cont_status}"></a> </td> -->
				<!-- <td th:text="${data3.cont_status}"></td>-->
				<td th:text="${data3.owner_num}"></td>
			</tr>
	</th:block>

</table>
</body>
</html>