<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>에이콘테이너 창고대여</title>

	<!-- table css -->
	<link rel="stylesheet" type="text/css" href="../css/container.css">
	<!-- Favicons -->
	<link href="../assets/img/favicon.png" rel="icon">
	<link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="../assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link href="../assets/css/main.css" rel="stylesheet">
</head>


<body>
	<div th:if="${session.ownerSession != null}">
		<div th:replace="~{fragments/header_owner :: header}"></div>
		<main>
			<div class="custom-gap-top"></div>
			<div class="text-header">
				<h3 class="align-detail">예약 정보</h3>
			</div>
			<div th:if="${bookDto.size > 0}" class="table-body">
				<div th:each="b:${bookDto}" class="table-row">
					<div class="table-detail">
						<div class="table-row">
							<div class="table-cell-detail">창고 번호:</div>
							<div class="table-cell-detail">[[${b.cont_no}]]</div>
						</div>
						<div class="table-row">
							<div class="table-cell-detail">예약자:</div>
							<div class="table-cell-detail">[[${b.user_name}]]</div>
						</div>
						<div class="table-row">
							<div class="table-cell-detail">전화번호:</div>
							<div class="table-cell-detail">[[${b.user_tel}]]</div>
						</div>
						<div class="table-row">
							<div class="table-cell-detail">이메일:</div>
							<div class="table-cell-detail">[[${b.user_email}]]</div>
						</div>
						<div class="table-row">
							<div class="table-cell-detail">시작날짜</div>
							<div class="table-cell-detail">[[${b.booking_date_start}]]</div>
						</div>
						<div class="table-row">
							<div class="table-cell-detail">종료날짜</div>
							<div class="table-cell-detail">[[${b.booking_date_end}]]</div>
						</div>
					</div>
				</div>
			</div>
	</div>

	</main>
	<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>


</html>