<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Insert title here</title>
   <!-- Google Maps JavaScript API -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzGKmDfbyNTWo-0WqNSdQlQSlxc6Wjna4&libraries=places" defer></script>
   <script src="../js/userjoin.js"></script>
   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
   <!-- 재민 -->
   <script>
// 주소를 위도와 경도로 변환하고 값을 설정하는 JavaScript 함수
function getCoordinatesFromAddress() {
    var geocoder = new google.maps.Geocoder();
    var address = document.getElementById('user_combinedAddress').value; // 주소 입력 필드의 값을 가져옵니다.
    var encodedAddress = encodeURIComponent(address); // 주소를 인코딩
	var coordinates = []; // 배열 초기화
	
    // 주소를 위도와 경도로 변환합니다.
    geocoder.geocode({ 'address': address }, function (results, status) {
        console.log('Geocode Status:', status); // status 값 로깅
        if (status === 'OK') {
            // 변환에 성공하면 위도와 경도 값을 가져옵니다.
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();

            // 숨겨진 폼 필드에 위도와 경도 값을 설정합니다.
            document.getElementById('cont_we').value = latitude;
            document.getElementById('cont_kyung').value = longitude;
        } else {
            alert('주소를 찾을 수 없습니다.');
        }
    });
}


    </script>
    <!-- 재민 -->
</head>

<body>

<div th:if="${session.ownerSession != null}">
   ** 창고 등록 **<br />
   <form action="insert" method="post" enctype="multipart/form-data">
      창고주소 : <input type="text" id="user_postcode" class="text-field-postcode" placeholder="우편번호">
      <input type="button" onclick="user_execDaumPostcode()" class="button-postcode" value="우편번호 찾기"><br>
      <input type="text" id="user_roadAddress" class="text-field-postcode" placeholder="도로명주소">
      <input type="text" id="user_jibunAddress" class="text-field-postcode" placeholder="지번주소">
      <span id="guide" style="color:#999;display:none"></span>
      <input type="text" id="user_detailAddress" class="text-field-postcode" placeholder="상세주소">
      <input type="text" id="user_extraAddress" class="text-field-postcode" placeholder="참고항목">
      <br />
      <!-- 결과를 출력할 한 줄로 된 주소 필드 -->
      <!-- <h3>입력한 주소</h3> -->
      <input type="text" name="cont_addr" id="user_combinedAddress" class="text-field" placeholder="입력한 주소"><br />
       <!-- 주소를 위도와 경도로 변환하는 버튼 -->
            <input type="button" onclick="getCoordinatesFromAddress()" class="button" value="주소 변환"><br />
            위도:<input type="text" id="cont_we"  name="cont_we" class="text-field-postcode" placeholder="위도">
            경도:<input type="text" id="cont_kyung"  name="cont_kyung" class="text-field-postcode" placeholder="경도"><br />
 
      창고크기 : <input type="text" name="cont_size" /><br />
      <!-- 대여가격 : <input type="text" name="cont_price" /><br/> -->
      창고설명 :
      <textarea rows="5" cols="50" name="content"></textarea><br />
      사업자번호 : <input type="text" th:placeholder="${session.ownerSession.business_num}" th:value="${session.ownerSession.business_num}" name="owner_num" />
      <br />
      이미지 : <input type="file" name="file" /><br />
      <br />
      <br />
            <!-- "저장" 버튼 -->
            <input type="submit" value="저장">
   </form>
   </br>
</div>
</body>
</html>