<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 수정</title>
<link href="/css/star.css" rel="stylesheet" />
</head>
<body>
	<form method="post" action="/saverreview">
    <input type="hidden" name="cont_no" value="${cont_no}">
    <label for="rating">별점:</label>
    <input type="number" name="rating" id="rating" min="1" max="5">
    <br>
    <label for="content">내용:</label>
    <textarea name="content" id="content" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="리뷰 저장">
</form>
</body>
</html>