<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 수정</title>
<link href="/css/star.css" rel="stylesheet" />
</head>
<body>

   <form action="rvupdate" class="mb-3" name="mystar" id="mystar" method="post" th:object="${cont_no}">
      <fieldset>
         <span class="text-bold">별점을 선택해주세요</span>
         <input type="radio" name="reviewStar" value="5" id="rate1" ><label for="rate1">★</label>
         <input type="radio" name="reviewStar" value="4" id="rate2" ><label for="rate2">★</label>
         <input type="radio" name="reviewStar" value="3" id="rate3" ><label for="rate3">★</label>
         <input type="radio" name="reviewStar" value="2" id="rate4" ><label for="rate4">★</label>
         <input type="radio" name="reviewStar" value="1" id="rate5" ><label for="rate5">★</label>
      </fieldset>
      <div>
         <input type="text" name="cont_no" th:value="${cont_no.cont_no}"/>
         <input type="hidden" name="user_id" th:value="${session.user_id}" />

         <textarea class="col-auto form-control" 
                  type="text" name="reviewContents" id="reviewContents">[[${cont_no.content}]]
            </textarea>
      </div>
      <input type="submit" value="작성하기">
   </form>

	<form method="post" action="/saverreview">
    <input type="hidden" name="cont_no" value="${cont_no}">
    <label for="rating">별점:</label>
    <input type="number" name="rating" id="rating" min="1" max="5">
    <br>
    <label for="content">내용:</label>
    <textarea name="content" id="content" rows="4" cols="50"></textarea>
    <br>
    <input type="submit" value="리뷰 저장">
</form>

</body>
</html>