<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head> 
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>에이콘테이너</title>
  <!-- 파비콘 -->
  <link href="/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/board.css}">
  

</head>

<body>
 	<!-- ======= Header ======= -->
	<div th:replace="~{fragments/header :: header}"></div>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2 style="font-family: 'Noto Sans KR';">공지사항</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>게시판</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->
    
	<section class="sample-page">
		
		
		<div class="board-container">
			<!-- 고객문의 배너 -->
			<div class="customer-inquiry-banner">
				<p>목록</p>
				<ul>
					<li>공지사항</li>
					<li>1:1문의</li>
					<li>FAQ</li>
				</ul>
			</div>

			<table>
				<tr style="background-color: silver;">
					<th>번호</th>
					<th style="width: 50%; text-align: center;">제 목</th>
					<th>작성자</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr>
				<!-- isEmpty()는 들어온 값이 null 이거나 빈 문자열일 때 true를 반환. 체크 전에 trim()을 적용하기 때문에 빈 줄이나 공백도 같이 걸러진다 -->
				<th:block th:if="${not #strings.isEmpty(data)}"> <!-- th:if="${data != null}" -->
					<tr th:each="b:${data}">
						<!--<td>[[${b.num}]]</td>-->
						<td>공지</td>
						<td>
							<!-- 댓글 들여쓰기 준비 -->
							<th:block th:each="count : ${#numbers.sequence(0, b.nested)}"> <!-- 0부터 nested 만큼 반복 -->
								<th:with var="tab">&nbsp;</th:with>
							</th:block>
							<a th:href="@{/board/detail(num=${b.num},page=${page})}" th:text="${b.title}" style="color: darkslategrey; font-weight: bold;">[[${tab}]]</a>
						</td>
						<td>관리자</td>
						<td>[[${b.readcnt}]]</td>
						<td>[[${b.bdate}]]</td>
					</tr>
	
					<!-- paging -->
					<tr style="text-align: center;">
						<td colspan="5">
							<th:block th:each="num : ${#numbers.sequence(1, pagesu)}">
								<th:span th:if="${num} == ${page}">
									<b th:text=${num}>num 표시(현재 페이지는 링크를 걸지 않음)</b>
								</th:span>
								<th:span th:if="${num} != ${page}">
									<a th:href="@{list(page=${num})}" th:text="${num}">num 표시</a>
								</th:span>
							</th:block>
						</td>
					</tr>
				</th:block>
	
				<!-- 검색 작업 추가 -->
				<tr style="text-align: center;">
					<td colspan="5">
						<br />
						<form action="board/search" method="post">
							검색 대상 :
							<select name="searchName">
								<option value='title' selected>글제목</option>
							</select>
							<input type="text" name="searchValue">
							<input type="submit" value="검 색">
						</form>					
					</td>
				</tr>
			</table>
		</div>
	</section>

  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <div th:replace="~{fragments/footer :: footer}"></div>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>