<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head> 
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>에이콘테이너</title>
  <!-- 파비콘 -->
  <link href="/assets/img/favicon.png" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/board.css}">
</head>

<body>
  <!-- ======= Header ======= -->
  <div th:replace="~{fragments/header :: header}"></div>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2 style="font-family: 'Noto Sans KR';">공지사항</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>게시판</li>
        </ol>
      </div>
    </div><!-- End Breadcrumbs -->  
	<section>	
		<div class="board-container">
			<!-- 고객문의 배너 -->
			<div class="customer-banner">
				<h2>고객센터</h2>
				<ul>
					<li class="active">공지사항</li>
					<li>자주하는 질문</li>
					<li>도움이 필요하신가요?<br/><stong>1:1 문의하기</stong></li>
				</ul>
			</div>
 			<!--공지사항 테이블-->
			<table style="border-collapse: collapse; border: none;">
				<tr>
					<td colspan="5" style="text-align: left;">
						<span style="font-weight: 600; font-size: 25px;">공지사항&nbsp;&nbsp;</span>
						<span>에이콘테이너의 새로운 소식들을 한곳에서 확인하세요</span><br/><br/>
					</td>
				</tr>
				<tr style="border-bottom: 1px solid #000; border-top: 2px solid #000;">
					<th>번호</th>
					<th style="width: 60%;">제 목</th>
					<th>작성자</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr>
				<!-- isEmpty()는 들어온 값이 null 이거나 빈 문자열일 때 true를 반환. 체크 전에 trim()을 적용하기 때문에 빈 줄이나 공백도 같이 걸러진다 -->
				<th:block th:if="${not #strings.isEmpty(data)}"> <!-- th:if="${data != null}" -->
					<tr th:each="b:${data}">
						<td>공지</td>
						<td style="text-align: left;">
							<a th:href="@{/board/detail(num=${b.num},page=${page})}" th:text="${b.title}">[[${tab}]]</a>
						</td>
						<td>관리자</td>
						<td>[[${b.readcnt}]]</td>
						<td>[[${b.bdate}]]</td>
					</tr>
	
					<!-- paging -->
					<tr style="text-align: center;">
						<td colspan="5" style="border: none;">
							<th:block th:each="num : ${#numbers.sequence(1, pagesu)}">
								<th:span th:if="${num} == ${page}">
									<b th:text=${num}>num 표시(현재 페이지는 링크를 걸지 않음)</b>
								</th:span>
								<th:span th:if="${num} != ${page}">
									<a th:href="@{list(page=${num})}" th:text="${num}">num 표시</a>
								</th:span>
							</th:block>
						</td>
					</tr>
				</th:block>
	
				<!-- 검색 작업 추가 -->
				<tr style="text-align: center;">
					<td colspan="5" style="border: none;">
						<br />
						<form action="board/search" method="post">
							검색 대상 :
							<select name="searchName" selected="selected">
								<option value='title'>글제목</option>
							</select>
							<input type="text" name="searchValue">
							<input type="submit" value="검 색">
						</form>					
					</td>
				</tr>
			</table>
		</div>
	</section>
  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <div th:replace="~{fragments/footer :: footer}"></div>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>
</html>