<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>JoinChoice</title>
        <link rel="stylesheet" href="/css/joinchoice.css" />
    </head>
    <body>
        <div id = "joinchoice">
            <h2>회원가입</h2>
            <ul>
                <li>
                    <a href="/userjoingo">사용자로 회원가입</a>
                </li>
                <li>
                    <a href="/ownerjoingo">공급자로 회원가입</a>
                </li>
            </ul>
        </div>
    </body>
</html>