<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>JoinChoice</title>
        <link rel="stylesheet" href="/css/joinchoice.css" />
    </head>
    <body>
        <div id = "joinchoice">
            <h2>회원가입</h2>
            <ul>
                <li>
                    <a href="userJoinChoiceGo">사용자로 회원가입</a> <!-- 성공 --> 
                </li>
                <li>
                    <a href="ownerJoinGo">공급자로 회원가입</a> <!-- 성공 -->
                </li>
            </ul>
        </div>
    </body>
</html>