<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- kakao 주소 api  -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="../js/userjoin.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
		$(document).ready(function () {
			$("#user_id_check").click(function (e) {
				e.preventDefault();

				let user_id = $("#user_id").val();

				if (user_id.trim() === "") {
					$("#id_check_message").text("아이디를 입력하세요.").css("color", "red");
					return; // 함수 종료
				}

				let idPattern = /^[a-zA-Z\d]{4,}$/;

				if (!idPattern.test(user_id)) {
					$("#id_check_message").text("영문 4글자 이상으로 입력해주세요.").css("color", "red");
					return; // 함수 종료
				}

				$.ajax({
					type: "POST",
					url: "/userIdCheck",
					data: {user_id: user_id},
					success: function (data) {
						let message = "";
						let textColor = "";
						if (data === 0) {
							message = "사용 가능한 아이디입니다.";
							textColor = "blue";
						} else {
							message = "아이디가 중복되었습니다.";
							textColor = "red";
						}
						$("#id_check_message").text(message).css("color", textColor);
					},
					error: function () {
						alert("오류가 발생했습니다.");
					},
				});
			});
		});
	</script>
    <title>사용자 회원가입 페이지</title>
    <link rel="stylesheet" href="../css/userjoin.css">
</head>
<body>
	<!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
		<div>
			<nav id="navbar" class="navbar">
			  <ul>
				<li><a href="/usersessionkeep" class="active">Home</a></li>
				<li><a href="/ownerJoinGo">사업자 회원가입</a></li>  <!-- 성공 -->
			  </ul>
			</nav><!-- .navbar -->
      	</div>
    </header><!-- End Header -->
    <h3 style="text-align: center;">사용자 회원가입</h3>
    <div class="join-form">
        <div class="content">
            <form action="/userJoinClick" method="post">
                <h3>아이디</h3>
                <input type="text" name="user_id" id="user_id" class="userId_text-field" placeholder="아이디">
                <input type="submit" class="userId_button" id ="user_id_check" value="아이디 중복 확인">
                <div id="id_check_message"></div>
                <div id="messageContainer">
					<h3>비밀번호</h3>
					<input type="password" name="user_pwd" id="user_pwd" class="text-field" placeholder="비밀번호">
					<div id="user_pwdMessage"></div>
					
					<h3>비밀번호 확인</h3>
					<input type="password" name="user_repwd" id="user_repwd" class="text-field" placeholder="비밀번호 확인">
					<div id="user_repwdMessage"></div>
					
					<h3>이름</h3>
					<input type="text" name="user_name" id="user_name" class="text-field" placeholder="이름">
					<div id="user_nameMessage"></div>
					
					<h3>전화번호</h3>
					<input type="tel" name="user_tel" id="user_tel" class="text-field" placeholder="전화번호">
					<div id="user_telMessage"></div>
					
					<h3>이메일</h3>
					<input type="text" name="user_email" id="user_email" class="text-field" placeholder="이메일" maxlength="30">
					<div id="user_emailMessage"></div>
					
					<h3>주소</h3>
					<input type="text" id="user_postcode" class="text-field-postcode" placeholder="우편번호">
					<input type="button" onclick="user_execDaumPostcode()" class="button-postcode" value="우편번호 찾기"><br>
					<input type="text" id="user_roadAddress" class="text-field-postcode" placeholder="도로명주소">
					<input type="text" id="user_jibunAddress" class="text-field-postcode" placeholder="지번주소">
					<span id="guide" style="color:#999;display:none"></span>
					<input type="text" id="user_detailAddress" class="text-field-postcode" placeholder="상세주소">
					<input type="text" id="user_extraAddress" class="text-field-postcode" placeholder="참고항목">
					<br />
					<h3>입력한 주소</h3>
					<input type="text" name="user_addr" id="user_combinedAddress" class="text-field" placeholder="입력한 주소">
					<h3>주민등록번호</h3>
					<input type="tel" name="user_jumin" id="user_jumin" class="text-field" placeholder="주민등록번호">
					<div id="user_juminMessage"></div>
				</div>
                    <input type="submit" class="submit-btn" id="btnUserJoin" value="가입하기">
                    <input type="reset" class="reset-btn" id="btnreset" value="취소">             
            </form>
        </div>
    </div>
</body>
</html>