<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <title>에이콘테이너</title>
   <!-- 파비콘 -->
   <link href="assets/img/favicon.png" rel="icon">
   <!-- 폰트 -->
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
   <!-- Vendor CSS 파일 -->
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="assets/vendor/aos/aos.css" rel="stylesheet">
   <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
<div th:if="${session.userSession != null}">
  <!-- header 파일 따로 만들어서 삽입 -->
  <div th:replace="~{fragments/header_user :: header}"></div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down"><span>ACONTAINER</span>
            <span style="color: #ffc732;">.</span></h2>
            <p data-aos="fade">
         <!--Thymeleaf를 사용하여 세션에서 사용자 이름을 가져와서 화면에 출력-->
            <span style="color: #ffffff;"><strong th:text="${session.userSession.user_name}">사용자 이름</strong></span> 고객님 환영합니다</p>
            <a data-aos="fade" data-aos-delay="200" href="/conajax" class="btn-get-started">바로 시작하기</a>
         <!-- 검색바 추가 -->
         <div class='hero search-container'>
            <form action="/conajax" method="get" class="search-form" data-aos="fade" data-aos-delay="200">
               <input type="text" id="searchInput" name="q" placeholder="창고검색에서 관심 지역을 입력하세요." class="search-input">
               <button type='submit' class='search-button'><i class='bx bx-search'></i></button>
            </form>
         </div>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg)"></div>
      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">
      
      <!-- ======= Recent Blog Posts Section : 추천창고와 이미지들 ======= -->
      <section id="recent-blog-posts" class="recent-blog-posts">
         <div class="container" data-aos="fade-up">
            <div class=" section-header">
               <h2>추천 창고</h2>
            </div>
            <div class="row gy-5">
               <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="post-item position-relative h-100">
                     <div class="post-img position-relative overflow-hidden">
                        <img src="assets/img/boxbox.jpg" class="img-fluid" alt="">
                     </div>
                     <div class="post-content d-flex flex-column">
                        <h3 class="post-title">경기도 안성시</h3><hr>
                        <a href="conajax.html" class="readmore stretched-link"><span>지도로 보기</span><i
                              class="bi bi-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
               <!-- === 추천창고 작은이미지 구분하기위해 남깁니다 == -->
               <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="post-item position-relative h-100">
                     <div class="post-img position-relative overflow-hidden">
                        <img src="assets/img/boxbox.jpg" class="img-fluid" alt="">
                     </div>
                     <div class="post-content d-flex flex-column">
                        <h3 class="post-title">경기도 용인시</h3><hr>
                        <a href="conajax.html" class="readmore stretched-link"><span>지도로 보기</span><i
                              class="bi bi-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
               <!-- === 추천창고 작은이미지 구분하기위해 남깁니다 == -->
               <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="post-item position-relative h-100">
                     <div class="post-img position-relative overflow-hidden">
                        <img src="assets/img/boxbox.jpg" class="img-fluid" alt="">
                     </div>
                     <div class="post-content d-flex flex-column">
                        <h3 class="post-title">경기도 하남시</h3><hr>
                        <a href="/conajax" class="readmore stretched-link"><span>지도로 보기</span><i
                              class="bi bi-arrow-right"></i></a>
                     </div>
                  </div>
               </div>
               <!-- === 추천창고 코드는 여기서 끝납니다 == -->
      </section>
      <!-- End Recent Blog Posts Section -->
   
      <!--메인 하단 소개 및 자료 다운로드-->
      <div class="company_wrap" data-aos="fade-up">
         <ul class="company_inner clearfix">
            <li>
               <div class="company transition-effect">
                  <strong style="font-weight: bold;">서비스 이용 안내</strong>
                  <p>창고 예약하기 힘드시지요?<br class="brnone" />서비스 소개를 참고하세요</p>
                  <a href="/service" id="mainBottomLeftBanner">자세히보기</a>
               </div>
            </li>
            <li>
               <div class="download transition-effect" style="background-position: 190.132px 100%;">
                  <strong style="font-weight: bold;">화물 운송 요청</strong>
                  <p>화물 운송이 필요하신가요?<br class="brnone" />화물 정보만 알려주세요. 화물차를 연결해 드립니다.</p>
                  <a href="/contactuser" id="mainBottomLeftBanner">자세히보기</a>
               </div>
            </li>
         </ul>
      </div>
  	  <!-- ======= 에이콘 협력사 ======= -->
      <div th:replace="~{fragments/partner :: partner}"></div>  
   </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{fragments/footer :: footer}"></div>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</div>
</body>
</html>