<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>로그인</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/css/userlogin.css">
	<link href="../assets/css/main.css" rel="stylesheet">
	<script>
		$(document).ready(function () {
			$("form").submit(function (e) {
				e.preventDefault();

				let user_name = $("input[name='user_name']").val();
				let user_email = $("input[name='user_email']").val();
				let user_jumin = $("input[name='user_jumin']").val();

				// Ajax 요청 보내기
				$.ajax({
					type: "POST",
					url: "/userIdInfoFind",
					data: {
						user_name: user_name,
						user_email: user_email,
						user_jumin: user_jumin
					},
					dataType: "text",
					success: function (data) {
						if (data === "not_found") {
							alert("사용자 아이디를 찾을 수 없습니다.");
						} else {
							alert("사용자 아이디: " + data);
						}
					},
				});
			});
		});
	</script>
</head>

<body>
	<section class="login-form">
		<h1>아이디 찾기</h1>
		<form action="/userIdInfoFind" method="post">
			<!-- 사용자 이름 입력란-->
			<div class="int-area">
				<input type="text" name="user_name" id="user_name" autocomplete="off" required>
				<label for="user_name">이름</label>
			</div>
			<!-- 사용자 이메일 입력란-->
			<div class="int-area">
				<input type="text" name="user_email" id="user_email" autocomplete="off" required>
				<label for="user_email">이메일</label>
			</div>
			<!-- 사용자 주민번호 입력란-->
			<div class="int-area">
				<input type="text" name="user_jumin" id="user_jumin" autocomplete="off" required>
				<label for="user_jumin">주민등록번호</label>
			</div>
			<!-- 로그인 버튼 -->
			<div class="btn-area">
				<button type="submit" id="btn">아이디 찾기</button>
			</div>
		</form>
		<div class="caption">
			<a href="firstLogin">로그인</a>
		</div>
	</section>
	<script src="/js/useridfind.js"></script>
</body>

</html>