<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/userlogin.css">
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body>
	<!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">        
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="ownerlogingo">사업자 로그인</a></li>  <!-- 성공 -->
          </ul>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
    <section class="login-form">
        <h1>사용자 로그인</h1>
        <form action="userLogSuccess" method="post">
            <!-- 사용자 로그인 ID 입력란-->
            <div class="int-area">
                <input type="text" name="user_id" id="id" autocomplete="off" required>
                <label for="id">User Id</label>
            </div>
            <!-- 사용자 비밀번호 ID 입력란-->
            <div class="int-area">
                <input type="password" name="user_pwd" id="pwd" autocomplete="off" required>
                <label for="id">Password</label>
            </div>
            <!-- 로그인 버튼 -->
            <div class="btn-area">  
                <button type="submit" id="btn">LOGIN</button>
            </div>
        </form>
        <div class="caption">
            <a href="/userInfoFind">아이디/비밀번호 찾기</a>
            <a href="/userJoinGo">회원가입</a>
        </div>
    </section>
    <script src="/js/userlogin.js"></script>
</body>
</html>