<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<body>
	<!-- 광진 -->
	<!-- 세션 정보 출력 -->
	<div th:if="${session.user != null}">
	<h1>마이페이지</h1><br/>
		<!-- 세션 잘 되는지 확인용 --> 
        <p>로그인 세션 정보:</p>
        <p>사용자 ID: <span th:text="${session.user.user_id}"></span></p>
        <p>사용자 Pwd: <span th:text="${session.user.user_pwd}"></span></p>
        <!-- 세션 값 유지 -->
        <a href="/userlogoutgo">로그아웃</a>
        <a href="/userupdate">회원수정</a>
        <a href="/userdelete">회원탈퇴</a>
    </div>
    <!-- 세션 정보가 없는 경우 -->
    <div th:unless="${session.user != null}">
        <p>로그인 세션 정보가 없습니다.</p>
    </div>
</body>
</html>