<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body> 
<head>
    <!-- 여기에 필요한 메타 정보와 스타일링 링크를 추가-->
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div id="footer" class="footer">
            <div class="footer-content position-relative">
                <div class="container">
                    <div class="row">
                        <address style="text-align: center;">
                            <p>㈜에이컨테이너 / <em>대표</em> : 혁팀장</p>
                            <p>경기도 용인시 팔달구 흥성로-22 / <span><em>고객센터</em> 070-123-457</span> / <span><em>F.</em> 031-245-1234</span> / <span><em>E.</em> wow123@wow.com</span></p>
                            <p>Copyright ㈜에이컨테이너  <span>All Rights Reserved.</span></p>
                        </address>
                    </div>
                </div>
            </div>
            <div class="footer-legal text-center position-relative">
                <div class="container">
                    <!-- 추가적인 푸터 내용 -->
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
