<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:if="${session.adminSession != null}">
    <div th:fragment="header_admin">
        <header> 
            <div id="header" class="header d-flex align-items-center">
                <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                    <a href="/adminsessionkeep" class="logo d-flex align-items-center">
                        <h1>Acontainer<span>.</span></h1>
                    </a>
                    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
                    <nav id="navbar" class="navbar">
                        <ul>
					<li><a href="/adminsessionkeep" class="active">Home</a></li>
					<li class="dropdown"><a href="#">회원관리
					<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/user">이용자관리</a></li>
							<li><a href="/owner">제공자관리</a></li>
						</ul>
					<li class="dropdown"><a href="#">창고관리
					<i class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="/registered">등록창고관리</a></li>
							<li><a href="/approve">창고승인관리</a></li>
						</ul>
					</li>

					<li><a href="#">예약/결제관리</a></li>
					<li><a href="/board/list?page=1">공지관리</a></li>
					<li><a href="contactadmin?page=1">문의 관리</a></li>
					<li><a href="faqadmin?page=1">FAQ 관리</a></li>
				</ul>
              </nav><!-- .navbar -->
                </div>
            </div><!-- End Header -->
        </header>
    </div>
</div>
</body>

</html>
