<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FAQ Detail</title>
<script>
	window.onload = function(){
		
		document.querySelector("#btnList").onclick = function(){
			window.history.back();

		}
		
		document.querySelector("#btnUp").onclick = function(){
			if(confirm("정말 수정 할까요?")){
				event.preventDefault(); // submit 이벤트를 취소
				frm.action="faqupdate";
				frm.method="post";
				frm.submit();
			}
		}
		
		document.querySelector("#btnDel").onclick = function(){
			if(confirm("정말 삭제 할까요?")){
				event.preventDefault(); // submit 이벤트를 취소
				frm.action="faqdelete";
				frm.method="post";
				frm.submit();
			}
		}
	}
</script>
</head>
<body>
<h2>** FAQ 수정 / 삭제 **</h2><br><br>
<div>
	<form name="frm" method="post" th:object="${detail}">
		<div>
			<div>
				번  호 : [[${detail.faq_no}]]
				<input type="hidden" name="faq_no" th:value="${detail.faq_no}">
			</div>
			<div>
				카테고리 : <input type="text" name="faq_category" id="faq_category" th:value="${detail.faq_category}" required>
			</div>
			<div>
				제  목 : <input type="text" name="faq_question" id="faq_question" th:value="${detail.faq_question}" required>
			</div>
			<div>
				내  용 : <input type="text" name="faq_answer" id="faq_answer" th:value="${detail.faq_answer}" required>
			</div>
			<div>
				<input type="button" value="수정" name="btnUp" id="btnUp"></input>
				<input type="button" value="삭제" name="btnDel" id="btnDel"></input>
				<input type="button" value="목록" name="btnList" id="btnList"></input>
			</div>
		</div>
	</form>
</div>
</body>
</html>