/* 미니 메뉴 스타일 */
.customer-inquiry-banner {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: left;
  margin-top: 20px; /* 위쪽 여백 추가 */
  margin-right: 10px; /* 오른쪽 여백 추가 */
}

.customer-inquiry-banner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.customer-inquiry-banner li {
  cursor: pointer;
  margin-bottom: 5px;
}

.customer-inquiry-banner li:hover {
  text-decoration: underline;
}

/* 공지사항 리스트 스타일 */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 테이블을 가운데로 이동 */
  margin-top: 10px; /* 위쪽 여백 줄임 */
  margin-left: 10px; /* 왼쪽 여백 추가 */
}

.board-container table {
  width: 70%; /* 조절 필요 */
  border-collapse: collapse;
  margin-top: 20px;
}

.board-container th, .board-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.board-container th {
  background-color: #f2f2f2;
}

.board-container td a {
  color: #333;
  font-weight: bold;
}

.edit-button, .delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
  background-color: #0056b3;
}
