@charset "utf-8";

@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.en {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}

body, a {
    color: #3D3B3B;
}

.font-bold {
    font-weight: bold;
}

/* 아래에 header와 footer 스타일 추가 */
header{
    text-align: center;
    background: #ffffff; /* 헤더와 푸터 배경색 설정 */
    padding: 10px 0;
}

h1 {
    display: flex;
    align-items: center;
}

h1 img {
    width: 6.5rem;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column; /* 콘텐츠를 세로 중앙 정렬로 변경 */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 뷰포트 최소 높이 설정 */
    background: url("../images/userloginimg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

main {
    margin-top: 13rem;
    flex: 1; /* 메인 콘텐츠가 가능한 최대 높이를 가지도록 설정 */
}

.booking-box {
	color: whitesmoke;
    margin: 0 auto;
    width: 320px;
    height: 500px;
}

.booking-box h2 {
    margin-bottom: 2rem;
    color:white;
    font-size: 1.8rem;
    text-align: center;
}

.booking-box label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

#date-group input,
select,
#book-name,
#intmoney {
    height: 40px;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid #AFAFAF;
    padding-left: 0.7rem;
    width: 320px;
}

#date-group input,
select {
    cursor: pointer;
}

#start-date,
#end-date {
    display: inline-block;
}

#date-group input {
    width: 150px;
}

#end-date {
    margin-left: 1rem;
}

#money-btn,
#next-btn {
    width: 48%;
    height: 50px;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

#money-btn {
    background: #3781E3;
    color: #fafafa;
}

#next-btn {
    background: #c0c0c0;
    color: #fafafa;
    margin-left: 12px;
}
