#joinchoice {
    background: #008299;
    color: #fff;
    padding: 15px;
    width: 300px; /* 원하는 너비 값으로 조정 */
    margin: 150px auto 0; /* 상단 마진을 0으로 조정 */
}

#joinchoice ul {
    padding: 0;
    list-style: none;
}

#joinchoice ul li {
    border-top: 1px solid #003399;
    border-bottom: 1px solid #3db7cc;
}

#joinchoice ul li a {
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
}

#joinchoice ul li:first-child {border-top: none;}
#joinchoice ul li:last-child {border-bottom: none;}
#joinchoice ul li a:hover {background: #050099;}