table {
    width: 90%;
    margin: 0 auto; /* 수평 가운데 정렬 */
    border-collapse: collapse;
}

th, td {
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 8px; /* 내부 여백 설정 */
    border: 1px solid #ddd; /* 테두리 추가 */
}

/* 선택 상자 및 검색 버튼 스타일링 (선택적) */
select, input[type="text"], input[type="submit"] {
    padding: 5px;
    margin-right: 10px;
}


tr {
    margin-bottom: 10px; 
}


.center-button {
    text-align: center;
}
table {
    width: 90%;
    border-collapse: collapse;
}

table th,
table td {
    border-bottom: 1px solid #000; /* 하단에만 선 긋기. */
    border-left: none; /* 왼쪽 선 제거 */
    border-right: none; /* 오른쪽 선 제거 */
}


table th {
    border-bottom: 2px solid #000; 
}

/* 삭제 버튼 스타일 */
form input.delete-button[type="submit"] {
    background-color: #FFC0CB; /* 삭제 버튼 */
    color: #ffffff;
    padding: 5px 10px; 
    border: none; 
    cursor: pointer; 
}


form input.delete-button[type="submit"]:hover {
    background-color: #ff5555; /* 마우스 오버 시 배경색 변경 */
}

