table {
    width: 90%;
    margin: 0 auto; /* 수평 가운데 정렬 */
    border-collapse: collapse;
}

th, td {
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 8px; /* 내부 여백 설정 */
    border: 1px solid #ddd; /* 테두리 추가 */
}

/* 선택 상자 및 검색 버튼 스타일링 (선택적) */
select, input[type="text"], input[type="submit"] {
    padding: 5px;
    margin-right: 10px;
}

/* 행 간의 간격을 조절합니다. */
tr {
    margin-bottom: 10px; /* 원하는 간격으로 조절하세요. */
}

/* center-button 클래스에 텍스트 가운데 정렬을 적용합니다. */
.center-button {
    text-align: center;
}
table {
    width: 90%;
    border-collapse: collapse;
}

table th,
table td {
    border-bottom: 1px solid #000; /* 하단에만 선을 그립니다. */
    border-left: none; /* 왼쪽 경계선을 제거합니다. */
    border-right: none; /* 오른쪽 경계선을 제거합니다. */
}

/* Optional: 헤더 행에만 선을 그리려면 다음과 같이 선택자를 사용할 수 있습니다. */
table th {
    border-bottom: 2px solid #000; /* 헤더 행에 두꺼운 선을 그립니다. */
}

/* 삭제 버튼 스타일 */
form input.delete-button[type="submit"] {
    background-color: #FFC0CB; /* 배경색 지정 */
    color: #ffffff; /* 텍스트 색상을 흰색으로 지정 */
    padding: 5px 10px; /* 내부 여백 설정 (상하 5px, 좌우 10px) */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서 스타일을 포인터로 변경하여 클릭 가능한 모양으로 만듭니다. */
}

/* 마우스 오버 효과 - 원하는 스타일을 추가하세요 */
form input.delete-button[type="submit"]:hover {
    background-color: #ff5555; /* 마우스 오버 시 배경색 변경 */
}

