@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  margin-left: auto;
  margin-right: 60px;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: url("../images/ownerloginimg.jpg") no-repeat center;
  background-size: cover;
}

.join-form {
  width: 550px;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 180px;
  border-radius: 5px;
  padding: 30px;
}

.join-form h3 {
  color: black;
  font-size: 13px;
}

.text-field {
  font-size: 14px;
  width: 470px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-postcode{
  font-size: 14px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.button-postcode:hover {
  background-color: #0056b3;
}

.submit-btn {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  background-color: #166caa;
  color: white;
  width: 47%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  float: right;
  clear: both;

}

.reset-btn {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  background-color: #166caa;
  color: white;
  width: 47%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  border: none;
}