@charset "UTF-8";
#mystar fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#mystar fieldset legend{
    text-align: right;
}
#mystar input[type=radio]{
    display: none;
}
#mystar label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#mystar label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#mystar label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#mystar input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
textarea.col-auto.form-control {
    width: 100%; /* 원하는 너비로 조절 */
    height: 150px; /* 원하는 높이로 조절 */
}