@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.header {
  z-index: 999;
  position: fixed;
  padding: 18px 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 1px #000;
}

.header .logo img {
  background-image: url('../img/logo.png');
  max-height: 30px;
  margin-right: 6px;
  vertical-align: middle;
}

.header .logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header ul li {
  margin-right: 20px;
}

.header ul li:last-child {
  margin-right: 0;
}

.header ul li a {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar {
  margin-left: auto;
  margin-right: 60px;
}



body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: url("../images/userloginimg.jpg") no-repeat center;
  background-size: cover;
}

/* 회원가입 CSS*/
.join-form {
  width: 550px;
  margin-left: auto;
  background-color: whitesmoke;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 180px;
  border-radius: 5px;
  padding: 30px;
}

.join-form h3 {
  color: black;
  font-size: 13px;
}


.userId_text-field {
  font-size: 14px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.userId_button{
  font-size: 14px;
  width: 140px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 22px;
  background-color: burlywood;
  color: #fff;
  cursor: pointer;
}

#id_check_message.red {
    color: red;
}

#id_check_message.blue {
    color: blue;
}

.text-field {
  font-size: 14px;
  width: 470px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-field-postcode {
  font-size: 14px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.button-postcode{
  font-size: 14px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: burlywood;
  color: #fff;
  cursor: pointer;
}

.button-postcode:hover {
  background-color: burlywood;
}

.submit-btn {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  background-color: burlywood;
  color: white;
  width: 47%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  float: right;
  clear: both;
}

.reset-btn {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  background-color: burlywood;
  color: white;
  width: 47%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  border: none;
}