<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약확인</title>
    <link rel="stylesheet" href="../css/booking-check.css">
    <script src="select"></script>
<body>
    <div class="skip">
		<a href="#container">본문 바로 가기</a>
	</div>

    <header>
        <div class="head-wrap">
            <h1><a href="main.html"><img src="img/logo.png" alt="logo"></a></h1>
            <nav>
                <ul>
                    <li><a href="booking.html">예약하기</a></li>
                    <li><a href="login.html">로그인</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="container">
        <div class="booking-box">
            <h2>예약정보확인</h2>
            <div>
                <table class="booking-check">
                    <tr>
                        <th scope="row">예약자</th>
                        <td>내용이 들어갑니다.</td>
                    </tr>
                    <tr>
                        <th scope="row">예약일자</th>
                        <td>내용이 들어갑니다.</td>
                    </tr>
                    <tr>
                        <th scope="row">지점명</th>
                        <td>내용이 들어갑니다.</td>
                    </tr>
                    <tr>
                        <th scope="row">사이즈</th>
                        <td>내용이 들어갑니다.</td>
                    </tr>
                    <tr>
                        <th scope="row">이용요금</th>
                        <td>내용이 들어갑니다.</td>
                    </tr>
                </table>

                <button type="submit" id="booking-btn">예약하기</button>
            </div>
        </div>
    </main>
    
    <script src=""></script>
</body>
</html>