<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="skip">
		<a href="#container">본문 바로 가기</a>
	</div>

	<main id="container">
		<div class="booking-box">
			<h2>예약하기</h2>
			<link rel="stylesheet" href="../css/booking.css">
			<div>
				<form action="/booking/bookingDo" method="post" class="cf" name="select">
					<!-- 나중에 type:hidden으로 바꾸기 -->
					<input type="hidden" name="userId" id="userId" value="${session.dao.user_id}">
					<div id="date-group">
						<div id="start-date">
							<label for="start-day">시작일자</label> <input type="date" name="bookDateS" id="start-day"
								class="start-date" onchange="checkPrice()">
						</div>
						<div id="end-date">
							<label for="end-day">종료일자</label> <input type="date" name="bookDateE" id="end-day"
								class="end-date" onchange="checkPrice()">
						</div>
					</div>
					<label for="bookingName">예약자</label> <input type="text" name="name" id="book-name"
						required="required"> <label for="stringcity">지점명</label> <input type="text" name="location" />
					<label for="stringsize">사이즈</label> <select name="size" id="stringsize" onchange="checkPrice()">
						<option value="0">선택하세요</option>
						<option value="5000">소 ( 20 x 20 x 45(cm) 이내 )</option>
						<option value="6000">중 (30 x 30 x 60(cm) 이내)</option>
						<option value="7000">대 (50 x 50 x 80(cm) 이내)</option>
					</select> <label for="intmoney">이용요금</label> <input type="text" name="price" id="intmoney"
						class="totalPay" readonly>
					<div style="color: red; font-size: 15px;">*결제 후 예약이 완료됩니다.</div>
					<div class="btn-div">
						<!--<button type="button" id="money-btn">결제하기</button>-->
						<button type="submit" id="next-btn" onclick="insertOpt()">예약하기</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	<script src="../js/booking.js"></script>

</body>

</html>