<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/userlogin.css">
    <link href="../assets/css/main.css" rel="stylesheet">
</head>
<body>
    <section class="login-form">
        <h1>관리자님, 창고 먼저 삭제 부탁드립니다.</h1>
    </section>
</body>
</html>