<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/ownerlogin.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/ownerlogin.js"></script>
</head>
<body>
    <!-- 메뉴 바 추가 -->
    <nav>
        <ul class="menu">
            <li><a href="user">사용자 로그인</a></li>
            <li><a href="owner">공급자 로그인</a></li>
        </ul>
    </nav>

    <section class="login-form">
        <h1>공급자 로그인</h1>
        <form action="/owner/login" method="post">
            <div class="int-area">
                <input type="text" name="business_num" id="sup_id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="owner_pwd" id="sup_pwd" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id="supplierLoginBtn" type="submit">LOGIN</button>
            </div>
        </form>
        <div class="caption">
            <a href="">Forgot Password?</a>
            <a href="supplierjoin">회원가입</a>
        </div>
    </section>        
</body>
</html>
