<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- kakao 주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/ownerjoin.js"></script>
    <title>회원수정 페이지</title>
    <link rel="stylesheet" href="/css/ownerjoin.css">
</head>
<body>
    <h3 style="text-align: center; line-height: 2;"><span th:text="${owner.owner_name}"></span>님의 회원수정</h3>
    <div class="join-form">
        <div class="content">
            <form action="/ownerInfoDelete" method="POST">
                <h3>사업자 번호</h3>
                <input type="text" name="business_num" id="business_num" class="text-field" th:value="${owner.business_num}">

                <h3>비밀번호</h3>
                <!-- 정보 수정이므로 type은 text로 유지 -->
                <input type="text" name="owner_pwd" id="owner_pwd" class="text-field" th:value="${owner.owner_pwd}">

                <h3>비밀번호 확인</h3>
                <input type="text" name="owner_repwd" id="owner_repwd" class="text-field" placeholder="비밀번호 확인">

                <h3>이름</h3>
                <input type="text" name="owner_name" id="owner_name" class="text-field" th:value="${owner.owner_name}">

                <h3>전화번호</h3>
                <input type="tel" name="owner_tel" id="owner_tel" class="text-field" th:value="${owner.owner_tel}">

                <h3>이메일</h3>
                <input type="text" name="email" id="email" class="text-field" maxlength="30" th:value="${owner.email}">
                <!-- 버튼 -->
                <input type="submit" class="submit-btn" value="삭제하기">
                <input type="reset" class="reset-btn" id="btnreset" value="취소">
            </form>
        </div>
    </div>
</body>
</html>
