</body><!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Contact</title>

<!-- 파비콘 -->
  <link href="/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/board.css}">

<script>
	window.onload = function(){
		document.querySelector("#btn").onclick = function(){
			if(!confirm("정말 작성 할까요?")){
				event.preventDefault(); // submit 이벤트를 취소
			}
		}
	}
</script>
</head>
<body>

<div th:if="${session.ownerSession != null}">
  <!-- header 파일 따로 만들어서 삽입 -->
  <div th:replace="~{fragments/header_owner :: header}"></div>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2 style="font-family: 'Noto Sans KR';">Contact</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>게시판</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->
    
	<section class="sample-page">
		
		
		<div class="board-container">

<h3 style="padding-top: 1cm; padding-bottom: 1cm; text-align: center;">Contact</h3>
<div>
	<form action="insertcontact" name="ins" method="post">
		<div>
			<div>
				<input type="text" name="contact_name" id="contact_name" placeholder="Your Name" required>
			</div>
			<div>
				<input type="email" name="contact_email" id="contact_email" placeholder="Your Email" required>
			</div>
			<div>
				<input type="text" name="contact_title" id="contact_title" placeholder="Title" required>
			</div>
			<div>
				<textarea name="contact_message" id="contact_message" rows="5" placeholder="Message" required></textarea>
			</div>
			<div>
				<input type="hidden" name="contact_status" id="contact_status" value="답변대기">
			</div>
			<div>
				<button type="submit" name="btn" id="btn">Send Message</button>
			</div>
		</div>
	</div>
	</form>
	</div>
	</section>

  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <div th:replace="~{fragments/footer :: footer}"></div>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</div>

</body>
</html>