<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h3>Contact 목록</h3>
	<table border="1">
		<tr>
			<th>이름</th><th>메일</th><th>주제</th><th>문의날짜</th><th>처리상태</th><th>상세보기</th>
		</tr>
		<th:block th:if="${contactadmin.size > 0}">
			<tr th:each="data:${contactadmin}">
				<td th:text="${data.contact_name }"></td>
				<td th:text="${data.contact_email }"></td>
				<td th:text="${data.contact_title }"></td>
				<td th:text="${data.contact_date }"></td>
				<td th:text="${data.contact_status }"></td>
				<td>
					<a th:href="@{/contactdetail(contact_no=${data.contact_no})}">상세보기</a>
				</td>
			</tr>
		</th:block>
	</table>
	<table style="margin-top: 20px;">
		<tr style="text-align: center;">
			<td colspan="5">
				<th:block th:each="num : ${#numbers.sequence(1, pagesu)}">
					<th:span th:if="${num == page}">
						<b th:text="${num}">num 표시(현재 페이지는 링크를 걸지 않음)</b>
					</th:span>
					<th:span th:if="${num != page}">
						<a th:href="@{/contactadmin(page=${num})}" th:text="${num}">num 표시</a>
					</th:span>
				</th:block>
			</td>
		</tr>
	</table>
</body>

</html>