</body><!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = function(){
		document.querySelector("#btn").onclick = function(){
			if(!confirm("정말 작성 할까요?")){
				event.preventDefault(); // submit 이벤트를 취소
			}
		}
	}
</script>
</head>
<body>
<h3>Contact 목록</h3>
<div>
	<form action="insertcontact" name="ins" method="post">
		<div>
			<div>
				<input type="text" name="contact_name" id="contact_name" placeholder="Your Name" required>
			</div>
			<div>
				<input type="email" name="contact_email" id="contact_email" placeholder="Your Email" required>
			</div>
			<div>
				<input type="text" name="contact_title" id="contact_title" placeholder="Title" required>
			</div>
			<div>
				<textarea name="contact_message" id="contact_message" rows="5" placeholder="Message" required></textarea>
			</div>
			<div>
				<input type="hidden" name="contact_status" id="contact_status" value="답변대기">
			</div>
			<div>
				<button type="submit" name="btn" id="btn">Send Message</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>